<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

   {% extends "DesignPage.html" %}
  {% block body %}

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
  <table width="229" height="182" border="1" align="center">
    <tr>
      <td width="71">Name</td>
      <td width="118">{{aaa['member_name']}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{aaa['age']}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{aaa['gender']}}</td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <table width="538" height="147" border="1" align="center">
    <tr>
      <td width="32" height="59">Sl No</td>
      <td width="83">Temperature</td>
      <td width="88">Heart beat</td>
      <td width="84">Cough</td>
      <td width="217">Health status</td>
    </tr>
     {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{i['temperature']}}</td>
      <td>{{i['heartbeat']}}</td>
      <td>{{i['cough']}}</td>
      <td>{{i['status']}}</td>
    </tr>
     {% endfor %}
  </table>

  <p>&nbsp;</p>
</form>
</body>
</html>
{% endblock %}
