<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>health department</title>
     {% extends "DesignPage.html" %}
  {% block body %}

</head>

<body>
<p><a href="/add_ashaworker_page_load">Add ashaworker</a></p>
<p><a href="/view_ashaworker">View ashaworker</a></p>
<p><a href="/add_volunteer_page_load">Add Volunteer</a>
<p><a href="/view_volunteer">View Volunteer</a>
<p><a href="/view_quarantineHouse">View quarantine family</a></p>
<p><a href="/view_medicineRequest">View medical request and approval</a></p>
<p><a href="/">logout</a></p>
</body>
</html>
{% endblock %}
