<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

   {% extends "DesignPage.html" %}
  {% block body %}

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
  <table width="627" height="205" border="1" align="center">
    <tr>
      <td width="38" height="72">Sl No.</td>
      <td width="91">Name</td>
       <td width="91">Gender</td>
      <td width="106">Photo</td>
      <td width="54">Age</td>
      <td width="85">covid_positive</td>
      <td width="103">Request</td>
    </tr>
      {% for i in data %}
    <tr>
      <td height="125">{{ loop.index }}</td>
      <td>{{i['member_name']}}</td>
      <td>{{i['gender']}}</td>
      <td>{{i['photo']}}</td>
      <td>{{i['age']}}</td>
      <td>{{i['covid_positive']}}</td>
      <td><a href="/medical_req_view/{{i['member_id']}}">view</a></td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
{% endblock %}
