<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

   {% extends "DesignPage.html" %}
  {% block body %}

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="397" height="135" border="1" align="center">

    <tr>
      <td>House Name</td>
      <td>{{data['house_name']}}</td>

    </tr>
    <tr>
      <td>House No.</td>
      <td>{{data['house_no']}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{data['address']}}</td>
    </tr>

  </table>
  <p>&nbsp;</p>
  <table width="934" height="119" border="1" align="center">

    <tr>
      <td height="43">Sl No.</td>
      <td>Member Details</td>
      <td>Photo</td>
      <td>Health Status</td>


      <td>Covid +ve</td>
      <td>Aadhar No</td>

    </tr>
    {% for i in data1%}
    <tr>
      <td>{{loop.index}}</td>
      <td><p>Name : {{i['member_name']}}</p>
      <p>Age : {{i['age']}}</p>
      <p>Gender : {{i['gender']}}</p>
      </td>
      <td>{{i['photo']}}</td>
      <td><p>Temp : {{i['temperature']}}</p>
      <p>Cough : {{i['cough']}}</p>
      <p>Heart Beat : {{i['heartbeat']}}</p>
      </td>
      <td>{{i['covid_positive']}}</td>
      <td>&nbsp;{{i['aadhar_no']}}</td>

    </tr>
    {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
{% endblock %}
