<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

   {% extends "DesignPage.html" %}
  {% block body %}

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="404" height="145" border="1" align="center">
    <tr>
      <td>Sl. No.</td>
      <td>Emergency option</td>
      <td>Action</td>
    </tr>
     {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{i['emergency_option']}}</td>
      <td><a href="/delete_emergency/{{i['emergency_id']}}">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
