<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

   {% extends "DesignPage.html" %}
  {% block body %}

</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="864" height="186" border="1" align="center">
    <tr>
      <td width="78" height="48">Sl.no</td>
      <td width="130">Name</td>
      <td width="141">Address</td>
      <td width="116">Phone</td>
      <td width="134">Email</td>
      <td width="64">Age</td>
      <td width="155">Photo</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{i['user_name']}}</td>
      <td>{{i['address']}}</td>
      <td>{{i['phone']}}</td>
      <td>{{i['email']}}</td>
      <td>{{i['age']}}</td>
      <td><img src="/static/volunteerPics/{{i['photo']}}" height="100" width="75" /></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
